.blog-articles {
    padding-top: 29px;
    padding-bottom: 120px;
    @media(max-width:767px) {
        padding-top: 17px;
        padding-bottom: 53px;
    }
    .section-header {
        margin-bottom: 59px;
        @media(max-width:767px) {
            margin-bottom: 9px;
        }
    }
    .post-card {
        margin-bottom: 20px;
        @media(max-width:767px) {
            margin-bottom: 12px;
        }
    }
}

.blog-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    @media(max-width:767px) {
        display: none;
    }
    .btn-next {
        margin-left: auto;
        text-align: center;
        padding-left: 47px;
        img {
            margin-left: 33px;
        }
    }
}