@use "../../styles/base/variables";
.error-code-table {
    background: #fff;
    max-width: 400px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 12px;
    color: variables.$heading-color;
    .th {
        display: flex;
        padding: 8px 0;
        border-bottom: 1px solid rgba(0,0,0,0.08);
        .td {
            font-size: 16px;
            padding: 11px 15px;
            @media(max-width:767px) {
                padding-bottom: 8px;
                padding-top: 11px;
            }
        }
    }

    .tr {
        display: flex;
        border-bottom: 1px solid rgba(0,0,0,0.08);
        padding: 8px 0;
    }
    
    .td {
        padding: 9px 15px 13.4px;
        font-size: 14px;
        @media(max-width:767px) {
            padding: 13px 15px 12.4px;
        }
        &:first-child {
            flex: 0 0 119px;
            border-right: 1px solid rgba(0,0,0,0.08);
        }
    }
    
    .code {
        background: #E9EAED;
        border-radius: 4px;
        padding: 4px 7px;
    }
}
