.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .logo {
        position: absolute;
        left: 72px;
        top: 41px;
        @media(max-width:767px) {
            left: 4px;
            top: 20px;
        }
    }
}

.login-container {
    max-width: 680px;
    background: #fff;
    border-radius: 12px;
    margin: 20px auto 20px;
    padding: 60px 120px 13px;
    border: 1px solid rgba(0,0,0,0.08);
    width: 100%;
    @media(max-width:1199px) {
        margin-top: 157px;
    }
    @media(max-width:767px) {
        max-width: calc(100% - 31px);
        margin-top: 10px;
        padding: 18px 17px 13px;
    }
}
