.login-wrapper .logo {
    position: absolute;
    left: 72px;
    top: 41px;
}

.login-container {
    max-width: 680px;
    background: #fff;
    border-radius: 12px;
    margin: 142px auto 0;
    padding: 60px 120px 13px;
    border: 1px solid rgba(0,0,0,0.08);
}