.section-faq {
    .col:first-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            max-width: 500px;
            margin-top: 8px;
            @media(max-width:767px) {
                margin-top: -5px;
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 14px;
            }
        }
    }
    .btn {
        margin-top: auto;
        @media(max-width:767px) {
            margin-bottom: 32px;
        }
    }
}
