.home-banner {
    padding-bottom: 4px;
    padding-top: 83px;
    position: relative;
    overflow: hidden;
    min-height: 759px;
    background: rgb(16, 18, 36);
    background: linear-gradient(180deg, rgb(2 4 24) 51%, #0c112d 72%, rgb(43 47 86) 100%);
    @media(max-width:767px) {
        margin-bottom: 60px;
    }
    &:before {
        background: linear-gradient(180deg, #020417 43.52%, #0D1835 57.65%, #15287A 63.86%, #FFFFFF 77.07%);
        filter: blur(201.7px);
        content: '';
        position: absolute;
        top: -40%;
        left: -40%;
        right: -40%;
        bottom: -102%;
        display: none;
        @media (max-width:1023px) {
            top: -40%;
            left: -100%;    
            right: -100%;
            bottom: -102%;
        }
    }
    .container {
        position: relative;
        @media (max-width:1023px) {
            padding: 0 16px;
        }
    }
    .banner-content {
        flex: 0 0 43.6%;
        margin-top: 61px;
        @media (max-width:1023px) {
            flex: 0 0 100%;
            margin-top: 34px;
        }
    }
    .banner-globe {
        margin-left: auto;
        margin-right: 7px;
        background-image: url("../../assets/img/globe-bg.svg");
        background-position: 2px 4px;
        position: relative;
        background-repeat: no-repeat;
        @media (max-width:1280px) {
            flex: 0 0 48%;
            background-size: contain;
            margin-top: 70px;
            margin-left: auto;
        }
        @media (max-width:1023px) {
            margin: 44px auto 0;
            flex: 0 0 101%;
            background-repeat: no-repeat;
            max-width: 530px;
            background-position: -3px 0px;
        }
        video, .video-placeholder {
            padding: 5.77%;
            width: 585px;
            display: block;
            @media (max-width:1280px) {
                max-width: 100%;
            }
        }
        .globe-wrapper {
            position: absolute;
            left: 8%;
            top: 9.8%;
            right: 10.3%;
            bottom: 9.2%;
            overflow: hidden;
            border-radius: 50%;
            -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
        }
        .globe-pins-1 {
            animation: 16s linear 0s pins-1 infinite;
            position: absolute;
            inset: 0;
        }
        @keyframes pins-1 {
            0% {
              transform: translate(10%, -10%);
            }
            100% {
              transform: translate(-75%, 75%)
            }
        }
        .globe-pin-1 {
            position:absolute;
            left: 66.5%;
            top: 45%;
            transform: scale(0);
            animation: 16s linear 0s globe-pin-1 infinite;
            @keyframes globe-pin-1 {
                10% {
                    transform: scale(0) rotate(0deg);
                }
                13% {
                    transform: scale(1.1);
                }
                14% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1) rotate(50deg);
                }
                60% {
                    transform: scale(0.7) rotate(70deg);
                }
                72% {
                    transform: scale(0) rotate(100deg);
                }
                99% {
                    transform: scale(1) rotate(100deg);
                }
                100% {
                    transform: scale(0);
                }
            }
            @media (max-width:1280px) {
                left: 59.5%;
                top: 47%;
            }
        }
        .globe-pin-2 {
            position:absolute;
            left: 42%;
            top: 18%;
            transform: scale(0);
            animation: 16s linear 0s globe-pin-2 infinite;
            @keyframes globe-pin-2 {
                20% {
                    transform: scale(0) rotate(0deg);
                }
                23% {
                    transform: scale(1.1);
                }
                24% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1) rotate(-50deg);
                }
                60% {
                    transform: scale(0.7) rotate(-70deg);
                }
                72% {
                    transform: scale(0) rotate(-100deg);
                }
                99% {
                    transform: scale(1) rotate(-100deg);
                }
                100% {
                    transform: scale(0);
                }
            }
            @media (max-width:1280px) {
                left: 37%;
                top: 25%;
            }
        }
        .globe-pin-3 {
            position:absolute;
            left: 61%;
            top: 3.8%;
            transform: scale(0);
            animation: 16s linear 0s globe-pin-3 infinite;
            @keyframes globe-pin-3 {
                29% {
                    transform: scale(0) rotate(0deg);
                }
                32% {
                    transform: scale(1.1)  rotate(0deg);
                }
                33% {
                    transform: scale(1) rotate(0deg);
                }
                70% {
                    transform: scale(1) rotate(70deg);
                }
                80% {
                    transform: scale(0.7) rotate(100deg);
                }
                90% {
                    transform: scale(0) rotate(140deg);
                }
                99% {
                    transform: scale(1) rotate(140deg);
                }
                100% {
                    transform: scale(0) rotate(0deg);
                }
            }
        }
        .globe-line-1 {
            position:absolute;
            left: 48.7%;
            top: 10%;
            overflow: hidden;
            animation: 16s linear 0s globe-line-1 infinite;
            width: 0;
            img {
                max-width: none;
                @media (max-width:1280px) {
                    transform: scale(0.8);
                }
            }
            @keyframes globe-line-1 {
                20% {
                  width: 0;
                }
                30% {
                  width: 127px;
                }
                99% {
                  width: 127px;
                }
                100% {
                  width: 0;
                }
            }
        }
        .globe-line-2 {
            position: absolute;
            right: 24%;
            top: 24.5%;
            overflow: hidden;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            animation: 16s linear 0s globe-line-2 infinite;
            width: 0;
            img {
                max-width: none;
                @media (max-width:1280px) {
                    transform: scale(0.8);
                }
                @media (max-width:767px) {
                    transform: scale(0.7);
                    transform: translateX(31px);
                }
            }
            @keyframes globe-line-2 {
                10% {
                  width: 0;
                }
                20% {
                  width: 127px;
                }
                99% {
                  width: 127px;
                }
                100% {
                  width: 0;
                }
            }
        }
        .globe-line-3 {
            position:absolute;
            left: 32.2%;
            top: 53.4%;
            overflow: hidden;
            animation: 16s linear 0s globe-line-3 infinite;
            width: 0;
            @keyframes globe-line-3 {
                0% {
                  width: 0;
                }
                10% {
                  width: 214px;
                }
                99% {
                  width: 214px;
                }
                100% {
                  width: 0;
                }
            }
            @media (max-width:767px) {
                left: 28.2%;
                top: 55.4%;
            }
            img {
                max-width: none;
                @media (max-width:1280px) {
                    transform: scale(0.8);
                }
                @media (max-width:767px) {
                    max-width: 175px;
                }
            }
        }
        .globe-dots {
            position: absolute;
            top: -20%;
            left: 80%;
            animation: 16s linear 0s globe-dots-1 infinite;
            // width: 0;
            @keyframes globe-dots-1 {
                0% {
                  transform: rotate(0deg);
                }
                90% {
                    // transform: rotate(180deg);
                    opacity: 1;
                }
                100% {
                    transform: rotate(180deg);
                    opacity: 0;
                }
            }
        }
    }
    h1 {
        margin-bottom: 15px;
    }
    p {
        line-height: 1.3;
        max-width: 540px;
        letter-spacing: -0.55px;
        margin-bottom: 22px;
        @media (max-width:1023px) {
            line-height: 1.2;
            margin-bottom: 25px;
        }
        span {
            display: inline-block;
            @media (max-width:1280px) {
                display: inline;
                margin-right: 4px;
            }
        }   
    }
} 