.section-how-it-works {
    overflow-x: hidden;
    .swiper {
        padding-bottom: 35px;
        @media(max-width:767px) {
            padding-bottom: 19px;
        }
    }
}

.breadcrumbs + .section-how-it-works {
    padding-top: 28px;
    @media(max-width:767px) {
        padding-top: 16px;
        margin-bottom: 16px;
    }
}