.section-innovate {
    background: #B0BEF2;
    span {
        color: #fff;
        display: block;
        margin-top: 0;
        font-size: 14px;
        margin-bottom: 16px;
        @media(max-width:767px) {
            margin-top: 48px;
            margin-bottom: 9px;
        }
    }
    
    p {
        color: #fff;
        max-width: 600px;
        margin-bottom: 57px;
        @media(max-width:767px) {
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 36px;
        }
    }
    
    h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: -0.3px;
        margin-bottom: 12px;
        line-height: 1;
        @media(max-width:767px) {
            line-height: 1.4;
            margin-bottom: 2px;
        }
    }
    .col {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .row {
        @media(max-width:767px) {
            flex-direction: column-reverse;
        }
    }
}
.section.section-innovate {
    padding-top: 56px;
    padding-bottom: 60px;
    @media(max-width:767px) {
        padding-bottom: 51px;
        margin-bottom: 0;
    }
}
