.App {
    // overflow-x: hidden;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    @media (min-width: 1366px) {
        max-width: 1316px;
    }
    @media (max-width: 1023px) {
        padding: 0 16px;
    }
}
.section {
    padding-top: 90px;
    padding-bottom: 90px;
    @media(max-width:1023px) {
        // padding-top: 90px;
        // padding-bottom: 90px;
    }
    @media(max-width:767px) {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-bottom: 60px;
    }
    .content-image {
        border-radius: 12px;
        margin-bottom: 52px;
        display: block;
        width: 100%;
        @media(max-width:767px) {
            margin-bottom: 35px;
        }
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 1 0 0%;
    padding: 0 10px;
    max-width: 100%;
    &.col-8 {
        flex: 0 0 66.666%;
    }
}
.mt-20 {
    margin-top: 20px;
}
.mt-32 {
    margin-top: 32px;
}
.mb-0 {
    margin-bottom: 0px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-auto {
    margin-top: auto;
}
.overflow-visible {
    overflow: visible;
}

@media(max-width:767px) {
    .xs-mb-30 {
        margin-bottom: 30px;
    }
    .xs-mb-20 {
        margin-bottom: 20px;
    }
    .xs-mb-0 {
        margin-bottom: 0;
    }
    .xs-mt-0 {
        margin-top: 0;
    }
}


@media(max-width:1023px) {
    .sm-mb-30 {
        margin-bottom: 30px;
    }
    .sm-mb-20 {
        margin-bottom: 20px;
    }
    .sm-mt-0 {
        margin-top: 0;
    }
}

@media(max-width:767px) {
    .hide-breaks-xs br {
        display: none;
    }
}

@media(max-width:1023px) {
    .sm-direction-column {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
@media(max-width:767px) {
    .xs-direction-column {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .xs-direction-column-reverse {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
}

@media(max-width:1023px) {
    .sm-hidden {
        display: none !important;
    }
}
@media(max-width:767px) {
    .xs-hidden {
        display: none !important;
    }
}
@media(min-width:768px) {
    .xs-visible {
        display: none !important;
    }
}