$white: #ffffff;
$white-11: rgba(255,255,255,0.11);
$white-80: rgba(255,255,255,0.8);
$black: #000000;
$blue: #19459f;
$blue-transparent: rgba(147, 157, 201, 0.11);
$body-bg: #F6F6F6;
$heading-color: #030518;
$dark-blue: #0a133c;
$dark-blue-60: rgba(3, 5, 24, 0.6);
$light-grey:rgba(233, 234, 237, 0.8);
$blue-50:rgba(176, 190, 242, 0.5);
$blue-30: rgb(186 201 255 / 30%);
$blue-20:rgba(176, 190, 242, 0.2);
$blue-11:rgba(121, 134, 190, 0.11);
$blue-5: rgb(186 201 255 / 5%);
$grey-20:rgb(0 0 0 / 20%);
$grey-50:rgb(0 0 0 / 50%); 